.itemChoice {
  border-width: 0px;
  min-width: 20vh;
  max-width: 40vh;
  border-radius: var(--corner-radius);
  background-color: rgb(33, 33, 33);
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.itemChoice p:first-of-type {
  position: absolute;
  top: 0;
  right: calc(var(--corner-radius) / 2);
  text-align: right;
  cursor: pointer;
}

.itemChoice p {
  padding-top: 0.3rem;
  font-size: small;
}

.imageSeries {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.imageSeries * {
  cursor: pointer;
}
