.inputList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.factoryContainer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.cancelContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
