/* general styles */
.main {
  display: grid;
  grid-template-rows: 30px auto;
  min-height: 100vh;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  --window-bg-RGB: rgb(52, 52, 52);
  --corner-radius: 8px;
  --factor-dark: 80%;
  --factor-darker: 60%;
}

.iconClickable {
  cursor: pointer;
}

/* recipe demand */
.recipeDemand {
  background-color: var(--window-bg-RGB);
  padding: 0rem;
  margin: 6rem 0 4rem;
  border-radius: var(--corner-radius);
}

.recipeDemand h1 {
  font-size: 1.6rem;
  padding: 0.6rem;
  backdrop-filter: brightness(var(--factor-darker));
}

.recipeDemandInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  backdrop-filter: brightness(var(--factor-dark));
}

.recipeDemandQuantity {
  font-size: 1.3rem;
  width: 4rem;
}

/* recipe results*/
.recipeResults {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr auto;
  grid-column-gap: 3px;
  background-color: var(--window-bg-RGB);
  border-radius: var(--corner-radius);
  z-index: 0;
}

/* every other row*/
.recipeResults > div:nth-child(8n + 5),
.recipeResults > div:nth-child(8n + 6),
.recipeResults > div:nth-child(8n + 7),
.recipeResults > div:nth-child(8n + 8) {
  backdrop-filter: brightness(var(--factor-dark));
}

/* header row */
.recipeResults > div:nth-child(1),
.recipeResults > div:nth-child(2),
.recipeResults > div:nth-child(3),
.recipeResults > div:nth-child(4) {
  backdrop-filter: brightness(var(--factor-darker));
  text-transform: uppercase;
  font-size: x-small;
  text-indent: 0.2rem;
  padding: 0.2rem;
}

/* endbars */
.endbars {
  font-size: 0.8rem;
}

.endbars h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 1rem 1.4rem;
  border: none;
  border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 1),
    rgba(var(--callout-rgb), 0.5)
  );
  background-clip: padding-box;
  backdrop-filter: blur(24px);
}
